@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');

/* ============================================= VARIABLES ================================= */
:root {
  --header-height: 3.5rem;

  /* =========================================== MAIN COLORS ================================ */

  --title-color: hsl(250, 8%, 15%);
  --text-color: hsl(250, 8%, 35%);
  --body-color: #f5f5f0;
  --container-color: #fff;
  --shadow: rgba(0, 0, 0, 0.8) 0px 18px 50px -10px;
  /* --shadow: hsla(0, 0%, 15%, .1) */

  /* ========================================== OTHER COLORS ================================== */

  --hue: 0;
  --first-color: hsl(var(--hue), 88%, 61%);
  --first-color-alt: hsl(var(--hue), 88%, 58%);

  /* ==================================== FONTS AND TYPOGRAPHY ================================= */

  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 4rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /* ====================================== FONT WEIGHT ======================================= */

  --font-medium: 500;
  --font-bold: 600;

  /* ======================================= MARGINS-BOTTOM ===================================== */

  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* ========================================== Z-INDEX ========================================= */

  --z-tooltip: 10;
  --z-fixed: 100;
}

/* ==================================== RESPONSIVE TYPOGRAPHY ================================== */

@media screen and(max-width: 992px) {
  :root {
    --biggest-font-size: 2rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/* ==================================================== SOME RESET ======================================================= */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a:not(.privacy-policy-link) {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button,
input {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* ============================================== BASE AND COMMON STYLES ============================================= */

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

/* ============================================ REUSABLE CSS CLASSES ===================================================== */

.section {
  padding: 7rem 0 2rem;
}

.section-title,
.breadcrumb-title {
  font-size: var(--h1-font-size);
}

.section-title,
.breadcrumb-subtitle {
  margin-bottom: var(--mb-3);
}

.section-title,
.breadcrumb-title,
.breadcrumb-subtitle {
  text-align: center;
}

/* ===================================================== LAYOUT ========================================== */

.container {
  max-width: 968px;
  margin-right: auto;
  margin-left: auto;
}

.grid {
  display: grid;
}

/* ============================================== HEADER SECTION ========================================= */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index);
  /* does it have an effect? */
  background-color: transparent;
}

/* ================================================= NAV =================================================== */

/* maybe make a separate container - what if we'll be adding new elements not children of nav??? */
.page-nav {
  /* maybe form the height with paddings of links ??? */
  height: calc(var(--header-height) + 1.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* It doesn't have an effect. why? */
  column-gap: 3rem;
}

.login-toggle,
.nav-shop,
.nav-toggle,
.nav-logo {
  color: var(--title-color);
}

.nav-logo {
  /* why need it? */
  text-transform: lowercase;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  /* why inline */
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
}

.nav-logo-icon {
  font-size: 1.25rem;
}

.nav-btns {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-inline-start: auto;
}

.nav-shop,
.nav-toggle,
.login-toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

.nav-list {
  display: flex;
  /* No effect */
  align-items: center;
  column-gap: 2rem;
}

.nav-link {
  color: var(--title-color);
  /* properties below don't work */
  font-weight: var(--font-medium);
  font-size: var(--normal-font-size);
  transition: color 250ms linear;
}

.nav-link:hover {
  color: var(--first-color);
}

.nav-toggle {
  display: none;
}

/* ============================================== ACTIVE LINK ============================================== */

.active-link {
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}

/* =========================================== CART STYLES =================================================== */

.cart {
}
.bx-bx-x {
}
.cart-close {
}
.cart-title-center {
}
.cart-container {
}
.cart-card {
}
.cart-image-container {
}
.cart-image {
}
.cart-details {
}
.cart-details-title {
}
.cart-price {
}
.cart-amount {
}
.cart-amount-content {
}
.cart-amount-box {
}
.bx {
}
.bx-minus {
}
.cart-amount-number {
}
.bx-plus {
}
.bx-trash-alt {
}
.cart-amount-trash {
}