:root {
  --primary-background-color: #f5f5f0;
  --header-background-color: rgba(0, 0, 0, 0.8);
  /* --secondary-background-color: #2ecc71; */
  /* --primary-color: */
  /* --secondary-color: */
  --primary-font-family: 'Poppins', sans-serif;
  --box-shadow:  rgba(0, 0, 0, 0.9) 0px 18px 50px -10px;
}

/* ==================================================== GENERAL STYLES ==================================== */

body {
  font-family: var(--primary-font-family);
  background-color: var(--primary-background-color);
}

  ul {
    list-style-type: none;
  }
  
  a:not(.privacy-policy-link) {
    text-decoration: none;
  }
  
  button {
    cursor: pointer;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
/* ============================================ LAYOUT ===================================================== */

/* CONTAINER IN %? PADDINGS IN %? */
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 10px;
  padding-right: 10px; */
}

/* ========================================= HEADER SECTION ================================================ */

.header {
background-color: var(--header-background-color);
box-shadow: var(--box-shadow);
}