@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');

/* ============================================= VARIABLES ================================= */
:root {
  --header-height: 3.5rem;

  /* =========================================== MAIN COLORS ================================ */

  --title-color: hsl(250, 8%, 15%);
  --text-color: hsl(250, 8%, 35%);
  --body-color: #f5f5f0;
  --container-color: #fff;
  --shadow: rgba(0, 0, 0, 0.8) 0px 18px 50px -10px;
  /* --shadow: hsla(0, 0%, 15%, .1) */

  /* ========================================== OTHER COLORS ================================== */

  --hue: 0;
  --first-color: hsl(var(--hue), 88%, 61%);
  --first-color-alt: hsl(var(--hue), 88%, 58%);

  /* ==================================== FONTS AND TYPOGRAPHY ================================= */

  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 4rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /* ====================================== FONT WEIGHT ======================================= */

  --font-medium: 500;
  --font-bold: 600;

  /* ======================================= MARGINS-BOTTOM ===================================== */

  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* ========================================== Z-INDEX ========================================= */

  --z-tooltip: 10;
  --z-fixed: 100;
}

/* ==================================== RESPONSIVE TYPOGRAPHY ================================== */

@media screen and(max-width: 992px) {
  :root {
    --biggest-font-size: 2rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/* ==================================================== SOME RESET ======================================================= */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a:not(.privacy-policy-link) {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button,
input {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-block-end: 0;
}

ul,
ol {
  margin-top: 0;
  margin-block-end: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* ============================================== BASE AND COMMON STYLES ============================================= */

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

/* ============================================ REUSABLE CSS CLASSES ===================================================== */

.section {
  padding: 7rem 0 2rem;
}

.section-title,
.breadcrumb-title {
  font-size: var(--h1-font-size);
}

.section-title,
.breadcrumb-subtitle {
  margin-block-end: var(--mb-3);
}

.section-title,
.breadcrumb-title,
.breadcrumb-subtitle {
  text-align: center;
}

/* ================================================== LAYOUT ========================================== */

.container {
  max-width: 968px;
  margin-right: auto;
  margin-left: auto;
}

.grid {
  display: grid;
}

/* ================================================== BUTTONS =========================================== */

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  transition: background-color 250ms linear;
}

.button:hover,
.button:active,
.button:focus {
  background-color: #fff;
  color: var(--first-color);
}

.button-icon {
  font-size: 1.25rem;
}

.button--link {
  color: var(--title-color);
}

.button--flex {
  /* ??? why inline-flex, not just flex??? */
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

/* ================================================= SWIPER ============================================= */

.swiper-pagination {
  position: initial;
  margin-top: var(--mb-2-5);
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background: var(--title-color);
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 0.5rem;
}

.swiper-pagination-bullet-active {
  width: 1.5rem;
  height: 5px;
  border-radius: 0.5rem;
}

/* ============================================== HEADER SECTION ========================================= */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  /* does it have an effect? */
  background-color: transparent;
}

/* ================================================= NAV =================================================== */

/* maybe make a separate container - what if we'll be adding new elements not children of nav??? */
.page-nav {
  /* maybe form the height with paddings of links ??? */
  height: calc(var(--header-height) + 1.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* It doesn't have an effect. why? */
  column-gap: 3rem;
}

.login-toggle,
.nav-shop,
.nav-toggle,
.nav-logo {
  color: var(--title-color);
}

.nav-logo {
  /* why need it? */
  text-transform: lowercase;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  /* why inline */
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
}

.nav-logo-icon {
  font-size: 1.25rem;
}

.nav-btns {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-inline-start: auto;
}

.nav-shop,
.nav-toggle,
.login-toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

.nav-list {
  display: flex;
  /* No effect */
  align-items: center;
  column-gap: 2rem;
}

.nav-link {
  color: var(--title-color);
  /* properties below don't work */
  font-weight: var(--font-medium);
  font-size: var(--normal-font-size);
  transition: color 250ms linear;
}

.nav-link:hover {
  color: var(--first-color);
}

.nav-toggle {
  display: none;
}

/* ======================================== CHANGE BACKGROUND HEADER ======================================= */

.scroll-header {
  background-color: var(--body-color);
  box-shadow: var(--shadow);
}

/* ============================================== ACTIVE LINK ============================================== */

.active-link {
  position: relative;
}

.active-link::before {
  content: '';
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}

/* =========================================== CART STYLES =================================================== */

/* ??? what is it */
.close-btn {
  color: var(--title-color);
  font-size: 1.25rem;
}

.cart {
  position: fixed;
  z-index: var(--z-fixed);
  width: 420px;
  height: 100%;
  top: 0;
  right: -100%;
  background-color: var(--body-color);
  box-shadow: var(--shadow);
  padding: 3.5rem 2rem;
  transition: right 250ms linear;
}

.cart-title-center {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-block-end: var(--mb-3);
}

.close-btn {
  position: absolute;
  top: 1.25rem;
  right: 0.9rem;
  color: var(--title-color);
  font-size: 2rem;
  cursor: pointer;
}

.cart-container {
  display: grid;
  row-gap: 1.5rem;
}

.cart-card {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.cart-image-container {
  /* some properties have no effect */
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
  background-color: var(--container-color);
}

.cart-image {
  width: 85px;
}

.cart-details-title {
  font-size: var(--normal-font-size);
  margin-block-end: var(--mb-0-5);
}
.cart-price {
  display: block;
  font-size: var(--small-font-size);
  color: var(--first-color);
  margin-block-end: var(--mb-1-5);
}

.cart-amount,
.cart-amount-content {
  display: flex;
  align-items: center;
}

.cart-amount {
  column-gap: 3rem;
}

.cart-amount-content {
  column-gap: 1rem;
}

.cart-amount-box {
  display: inline-flex;
  padding: 0.25rem;
  background-color: var(--container-color);
  cursor: pointer;
}

.cart-amount-trash {
  font-size: 1.15rem;
  color: var(--first-color);
  cursor: pointer;
}

.cart-prices-container {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-prices-item,
.cart-prices-total {
  color: var(--title-color);
}

.cart-prices-item {
  font-size: var(--small-font-size);
}

.cart-prices-total {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

/* =================================================== SHOW CART ============================================== */

.show-cart {
  right: 0;
}

/* ==================================================== LOGIN ================================================= */

/* ???  Maybe the same classes rather than repeat styles ??? */
.login {
  position: fixed;
  z-index: var(--z-fixed);
  width: 420px;
  height: 100%;
  top: 0;
  right: -100%;
  background-color: var(--body-color);
  box-shadow: var(--shadow);
  padding: 3.5rem 2rem;
  transition: right 250ms linear;
}

.login-title-center {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-block-end: var(--mb-3);
}

.login-close {
  position: absolute;
  top: 1.25rem;
  right: 0.9rem;
  color: var(--title-color);
  font-size: 2rem;
  cursor: pointer;
}

.login-form {
  row-gap: 1.5rem;
}

.login-content {
  background: var(--container-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.login-label {
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.login-input {
  width: 100%;
  /* why need it if content has it now */
  background-color: var(--container-color);
  color: var(--text-color);
  font-size: var(--normal-font-size);
  padding: 0.25rem 0.5rem 0.5rem 0;
}

.sign-up {
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.sign-up a {
  color: var(--first-color);
}

/* SHOW LOGIN */

.show-login {
  right: 0;
}

/* ================================================= HOME ============================================== */

.home-content {
  padding: 9rem 0 2rem;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
}

.home-group {
  display: grid;
  position: relative;
  /* ??? why need it??? */
  padding-top: 2rem;
}

/* why set height to the image, not create a container to hold it??? */
.home-image {
  height: 420px;
  /* ??? why need it??? */
  transform: translateY(-3rem);
  justify-self: center;
}

.home-indicator {
  position: absolute;
  /* bottom: 15%; */
  bottom: 8%;
  left: 45%;
  width: 8px;
  height: 8px;
  background: var(--title-color);
  border-radius: 50%;
}

.home-indicator::after {
  content: '';
  position: absolute;
  top: 0;
  right: 45%;
  width: 1px;
  height: 75px;
  background-color: var(--title-color);
}

.home-img-details {
  position: absolute;
  bottom: 0;
  right: 58%;
}

.home-details-title {
  font-weight: var(--font-medium);
}

.home-details-title,
.details-subtitle {
  display: block;
  font-size: var(--small-font-size);
  text-align: right;
}

.home-subtitle {
  font-size: var(--h3-font-size);
  text-transform: uppercase;
  margin-bottom: var(--mb-1);
}

.home-title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  line-height: 109%;
  margin-bottom: var(--mb-1-5);
}

.home-description {
  margin-bottom: var(--mb-2-5);
  padding-right: 2rem;
}

.home-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ======================================== SWIPER ======================================== */

/* ==================================== DISCOUNT SECTION ================================== */

.discount-container {
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  background-color: var(--container-color);
  padding: 3rem 0;
  border-radius: 3rem;
}

.discount-image {
  width: 200px;
}

.discount-data {
  padding-left: 6rem;
  text-align: center;
}

.discount-title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
}

/* ======================================= NEW ARRIVALS SECTION =============================================== */

.new-container {
  padding-top: 2rem;
}
.new-content {
  position: relative;
  background-color: var(--container-color);
  width: 310px;
  padding: 2rem 0;
  border-radius: 1rem;
  text-align: center;
}
.new-tag {
  position: absolute;
  top: 8%;
  left: 8%;
  background-color: var(--first-color);
  color: #fff;
  font-size: var(--small-font-size);
  padding: .25rem .5rem;
  border-radius: .25rem;
}
.new-image {
  width: 150px;
  margin-bottom: var(--mb-1);
  margin-right: auto;
  margin-left: auto;
}

.new-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.new-subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.new-prices {
  display: inline-flex;
  column-gap: .5rem;
}

.new-price {
  font-size: var(--font-medium);
  font-weight: var(--font-medium);
}

.old-price {
  color: var(--first-color);
  font-size: var(--small-font-size);
  text-decoration: line-through;
  font-weight: var(--font-medium);
}

.button {
  display: inline-flex;
  padding: .5rem;
  border-radius: .25rem .25rem .75rem .25rem;
  position: absolute;
  bottom: 0;
  right: -3rem;
}
.new-button {
}
.bx {
}
.bx-cart-alt {
}
.new-icon {
}
