:root {
  --header-height: 3.5rem;

  /* =========================================== COLORS ========================================= */

--title-color: hsl(250, 8%, 15%);
--text-color: hsl(250, 8%, 35%);
--body-color: #f5f5f0;
--container-color: #fff;
--shadow: rgba(0, 0, 0, 0.8) 0px 18px 50px -10px;
/* --shadow: hsla(0, 0%, 15%, .1) */

  /* ==================================== FONTS AND TYPOGRAPHY ================================= */

  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 4rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;

  /* ====================================== FONT WEIGHT ======================================= */

  --font-medium: 500;
  --font-bold: 660;

/* ======================================= MARGINS-BOTTOM ===================================== */

--mb-0-5: .5rem;
--mb-0-75: .75rem;
--mb-1: 1rem;
--mb-1-5: 1.5rem;
--mb-2: 2rem;
--mb-2-5: 2.5rem;
--mb-3: 3rem;

/* ========================================== Z-INDEX ========================================= */

--z-tooltip: 10;
--z-fixed: 100;
}

/* ==================================== RESPONSIVE TYPOGRAPHY ================================== */

@media screen and(max-width: 992px) {
  :root {
    --biggest-font-size: 2rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  }
}